<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.udomime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Udomi me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".NapredniSearch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchIspis" />
        <activity android:name=".Izmjena_Stranica_Korisnika" />
        <activity android:name=".Stranica_korisnika">

        </activity>
        <activity
            android:name=".RegisterSkloniste"
            android:label="@string/title_activity_register_skloniste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Log in"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".EditShelter"></activity>
        <activity android:name=".ShelterProfile"></activity>
        <activity android:name=".AnimalProfile" />
        <activity android:name=".EditAnimal" />
        <activity android:name=".DisplayAnimals" />
    </application>

</manifest>